apiVersion: v2
name: k6-loadtester
description: Flagger webhook using k6 to do load testing of the canary before rolling out traffic
type: application
version: 0.0.1
appVersion: "0.1.1"
sources:
  - https://github.com/grafana/flagger-k6-webhook
keywords:
  - flagger
  - canary
  - webhook
  - k6