apiVersion: v2
name: k6-loadtester
description: Flagger webhook using k6 to do load testing of the canary before rolling out traffic
type: application
version: 1.2.1
appVersion: "v0.2.0"
sources:
  - https://github.com/grafana/flagger-k6-webhook
keywords:
  - flagger
  - canary
  - webhook
  - k6
home: https://github.com/grafana/flagger-k6-webhook
maintainers:
  - name: julienduchesne
annotations:
  artifacthub.io/changes: |-
    - kind: updated
      description: Remove apiGroup for ServiceAccount RoleBinding subject
