name: Docker

on:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main

permissions:
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-tags: true

    - name: Build Docker Image
      run: make build

    - name: Push Docker Image
      if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
      run: make push

    - name: Push Latest Docker Image
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: make push-latest
